@page "/arealist"

<ComTitulo Titulo="Lista de areas"></ComTitulo>
<br />
<MatPaper Elevation="6">

    <ComSubBarra Tipo="save" Url="/areaform" Etiqueta="Agregar area">
    </ComSubBarra>
    <div style="height:10rem; max-height:50rem; min-height:40rem; overflow-y:scroll">
        @if (Areas == null)
        {
            <ComLoading>
            </ComLoading>
        }
        else
        {
            <ComTabla Areas="@Areas" UrlEditar="@UrlEditar" SelecionarId="@IdTablaComportamiento" SelecionarUrl="@UrlTablaComportamiento"></ComTabla>
        }
    </div>
</MatPaper>