@page "/areaform"
@page "/areaform/{Id}"
<h3>AreaForm @Id</h3>

@if (Loading && Id!=null)
{
    <ComLoading></ComLoading>
}
else
{
    <MatTextField @bind-Value="@NuevoValor" Label="Nombre del arear"></MatTextField>
    <MatButton Icon="save" OnClick="@Agregar" Label="Guardar area"></MatButton>
}
