@page "/areaform" 
<h3>AreaForm</h3>

<EditForm Model="@areaDto">
    <div class="container-fluid">
        @*<div class="form-group row mb-1">
            <p>
                <MatTextField @bind-Value="@areaDto.NombreArea" Label="Nombre area"></MatTextField>
            </p>
        </div>*@
        <div class="form-group row mb-1">
            <p>
                <InputText class="form-control" @bind-Value="@areaDto.NombreArea"></InputText>
            </p>
        </div>
    </div>
</EditForm>
