@page "/tipoDocumentolist"

<h1>Lista de tipos de documentos</h1>
<BtnCrud Tipo="save" Url="/tipoDocumentoform" Etiqueta="Agregar tipo documento">
</BtnCrud>
@if (tipoDocumentoDtos == null)
{
    <ComLoading>
    </ComLoading>
}
else
{
    <MatTable Items="@tipoDocumentoDtos" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="SelectionChangedEvent">
        <MatTableHeader>
            <th>ID</th>
            <th>Tipo Documento</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.NombreTipoDocumento</td>
            <td>
                <BtnCrud Tipo="edit" Url="/areaedit">
                </BtnCrud>
                <BtnCrud Tipo="delete" Url="/areadelet" Etiqueta="">
                </BtnCrud>
            </td>
        </MatTableRow>
    </MatTable>
}

<p>@_currentSelectedTask</p>