@inherits ComSubBarraBase
    <br />
    <div class="top-row px-4" style="display:flex; justify-content:space-between">
        <div class="top-row px-0">
            Barra de busqueda
        </div>
        <div class="top-row px-4">
            <BtnCrud Tipo="@Tipo" Url="@Url" Etiqueta="@Etiqueta">
            </BtnCrud>
        </div>
    </div>
    <br />